.image-card {
    width: 100%;
    height: auto;
    background-color: #FFF9F9;
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}
.image-card:hover {
    box-shadow: 0 0.1rem .8rem rgba(36,36,36,.1);
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
.image-card .image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 230px;
    z-index: 0;
}
.image-card .content {
    padding: 30px 30px;
}
.image-card .content p:last-child {
    margin-bottom: 0px;
}
.image-card .title {
    margin-bottom: 15px;
}
.image-card .title h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #111;
    line-height: 30px;
    margin: 0;
}
.image-card .divider {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgba( 0,0,0,0.05 );
    margin-bottom: 15px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 0;
}
.image-card .excerpt {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    line-height: 27px;
    margin-bottom: 30px;
}
.image-card .readmore {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-card .readmore a.button-readmore {
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
    background-color: #562dd4;
    color: #fff;
    padding: 12px 25px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.image-card .readmore a.button-readmore:hover {
    background-color: #707070;
    color: #fff;
}
.image-card .image .top-price-badge {
    position: absolute;
    padding: 4px 12px;
    border-radius: 30px;
    top: 15px;
    right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.image-card .image .middle-price-badge {
    position: absolute;
    padding: 4px 12px;
    border-radius: 30px;
    bottom: -15px;
    right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.image-card .readmore .bottom-price-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 30px;
    bottom: -15px;
    right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.image-card .image .top-price-badge del,
.image-card .image .middle-price-badge del,
.image-card .readmore .bottom-price-badge del {
    opacity: 0.5;
}
.badge-blue {
    background-color: #562dd4;
    color: #fff;
}
.badge-white {
    background-color: #fff;
    color: #111;
}
.badge-gray {
    background-color: #707070;
    color: #fff;
}