.mygbb-tab {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}
.mygbb-tab > ul.mygbb-tab-panel-lists {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mygbb-tab > ul.mygbb-tab-panel-lists li {
    list-style: none;
    display: inline-block;
    padding: 10px 18px;
    cursor: pointer;
    background-color: #007cba;
    color: #fff;
    border-right: 1px solid #fff;
}
.mygbb-tab > ul.mygbb-tab-panel-lists li.active {
    background-color: #03699c;
}
.mygbb-tab .tab-content-container .mygbb-tab-content {
    width: 100%;
    height: auto;
    position: relative;
    display: none;
    padding: 30px;
    background-color: #f2f2f2;
}
.mygbb-tab .tab-content-container .mygbb-tab-content.active {
    display: block;
}